/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    font-family: var(--poppins-font-family);
}

/* Variables */
:root{
    /* Fonts Families */
    --poppins-font-family: "Poppins", sans-serif;

    /* Colors */
    --body-color: #171b44;
    --body-alter-color: #4454ff;
    --main-color: #ff4d55;
    --hover-color: #f8646c;
    --container-color: #1d2352;
    --text-alter-color: #0bd2d4;
    --text-color: #fbfeff;
}

/* Basic Styles */
::selection{
    background: var(--main-color);
    color: var(--text-color);
}

section{
    padding: 4rem 0 3rem;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    color: var(--text-color);
    background: var(--body-color);
}